/* Cf. https://wiki.archlinux.org/index.php/Firefox/Tweaks#General_user_interface_CSS_settings
 *
 * Un redémarrage est nécessaire après chaque modification ! */

/* Barres du haut : couleur de fond + hauteur adaptée à la taille
 * des boutons min / max / close + pas de bord inférieur ni d'ombre */
:root {
    --tabs-toolbar-background-color: #DFDCD9 !important;
    --chrome-content-separator-color: rgba(0,0,0,.4) !important;
    --unified-toolbar-content-min-height: 32px !important;
    --tabs-toolbar-box-shadow: none !important;
}

#navigation-toolbox-background { background-color: #DFDCD9 !important; }
unified-toolbar { border-bottom: 0 !important; }

/* Masquer les boutons "Ouvrir le menu des espaces", "Afficher la barre
 * d'espaces" et "Panneau « Aujourd'hui »" */
#spacesPinnedButton, #spacesToolbarReveal, #calendar-show-todaypane-panel { display: none; }
/* Masquer la barre en haut du panneau des dossiers */
#folderPaneHeaderBar { display: none !important; }
#folderTree { margin-top: 6px !important; }

/* Apparence des onglets */
/* Décaler la barre d'onglets vers la droite */
#tabmail-tabs { margin-left: var(--unified-drag-space); }
/* Masquer la ligne de couleur en haut des onglets */
#tabmail-tabs .tab-line { display: none; }
/* Remplacer l'ombre des onglets par un bord et augmenter leur hauteur */
.tabmail-tab {
    box-shadow: none !important;
    border: 1px solid transparent !important;
    border-bottom: 0 !important;
    height: 34px !important;
}
.tabmail-tab[visuallyselected=true] { border-color: var(--chrome-content-separator-color) !important; }
.tabmail-tab:hover:not([visuallyselected=true]) { border-color: rgba(0, 0, 0, 0.1) !important; }
/* Espace entre les onglets */
#tabs-toolbar .tabmail-tab { margin-right: 3px !important; }

/* Rétablir les boutons min / max / close de la fenêtre principale
 * Cf. https://bugzilla.mozilla.org/show_bug.cgi?id=1788843
 * https://old.reddit.com/r/FirefoxCSS/comments/rjf58r/force_custom_window_controls_when_using_custom/
 * https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/window_control_force_linux_system_style.css */
.titlebar-min { -moz-default-appearance: -moz-window-button-minimize !important; }
.titlebar-max { -moz-default-appearance: -moz-window-button-maximize !important; }
.titlebar-restore { -moz-default-appearance: -moz-window-button-restore !important; }
.titlebar-close { -moz-default-appearance: -moz-window-button-close !important; }
.titlebar-buttonbox-container * { padding: 0 !important; margin: 0 !important; }

/* Transformer les items de la barre de menu en boutons */
:root { --context-menu-background-padding-default: 10px; }
menubar {
    flex-grow: 1 !important;
    margin-left: var(--unified-drag-space);
    padding: 2px 0 4px 0;
}
menubar > menu {
    border-radius: var(--button-border-radius) !important;
    -moz-appearance: none !important;
    background-position: left var(--context-menu-background-padding-default) center !important;
    padding-inline-start: var(--context-menu-background-padding-default) !important;
    padding-inline-end: var(--context-menu-background-padding-default) !important;
}
menubar > menu[_moz-menuactive="true"]:not([open]) { background-color: color-mix(in srgb, currentColor 17%, transparent) !important; }
menubar > menu[open] {
    color: inherit !important;
    background-color: color-mix(in srgb, currentColor 27%, transparent) !important;
    border-bottom-color: transparent !important;
}

/* Barre des titres de dossiers et barre des filtres rapides */
/* Augmenter les marges */
:root {
    --thread-pane-header-padding: 8px 13px !important;
    --qfb-padding: 0 10px 6px 10px !important;
}
/* Supprimer la séparation entre les 2 barres */
.list-header-bar:not([hidden]), #quick-filter-bar { border-bottom: 0 !important; }
#threadPaneDisplayButton { display: none; }
#threadTree { border-top: 1px solid var(--sidebar-border-color, var(--tree-view-header-border-color)) !important; }
