/* Cf. https://wiki.archlinux.org/index.php/Firefox/Tweaks#General_user_interface_CSS_settings
 *
 * Un redémarrage de Firefox est nécessaire après chaque modification ! */

/* Masquer l'icône des marques-pages à droite de la barre d'adresse */
#star-button-box { display: none !important; }

/* Supprimer l'espace à gauche de la barre d'onglets quand la fenêtre
 * n'est pas maximisée */
.titlebar-spacer[type="pre-tabs"] { width: 0 !important; }

/* Décaler la barre d'onglets vers la droite */
#tabbrowser-tabs { margin-left: 10px; }

/* Rétablir la forme des onglets
 * Cf. https://github.com/black7375/Firefox-UI-Fix */
.tab-background {
    border-radius: var(--tab-border-radius) var(--tab-border-radius) 0px 0px !important;
    margin-bottom: 0px !important;
}
.tab-content { margin-top: var(--proton-tab-block-margin); }
.tab-stack {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* Rétablir la ligne de séparation entre onglets
 * Cf. https://github.com/black7375/Firefox-UI-Fix */
#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before, .tabbrowser-tab:not([visuallyselected], [multiselected], :hover, :first-child) .tab-background::before, #tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab:not([visuallyselected], [multiselected], :hover)[last-visible-tab] .tab-background::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1px;
    height: 20px;
    overflow: hidden;
    opacity: var(--tab-separator-opacity);
    transition: opacity .2s var(--ease-basic) !important;
    background-color: color-mix(in srgb, currentColor 20%, transparent) !important;
}
.tab-background::before { transform: translateX(-2.5px) translateY(calc(-50% + 1px)) !important; }
.tabbrowser-tab[last-visible-tab] .tab-background::after {
    right: 0;
    transform: translateX(.5px) translateY(calc(-50% + 1px)) !important;
}
.tabbrowser-tab:is([visuallyselected], [multiselected], :hover) + .tabbrowser-tab:not([visuallyselected]) .tab-background::before, .tabbrowser-tab[first-visible-unpinned-tab]:is([visuallyselected], [multiselected], :hover) .tab-background::before, #tabbrowser-arrowscrollbox[overflowing] tab.tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before { opacity: 0 !important; }

/* Désactiver l'expansion de la taille de la barre d'adresse
 * Cf. https://www.userchrome.org/megabar-styling-firefox-address-bar.html */
#urlbar[breakout][breakout-extend] {
    top: 4px !important;
    left: 0 !important;
    width: 100% !important;
    padding: 0 1px !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] { top: 5px !important; }
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 0 !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background { animation: none !important; }

/* Supprimer les ombres et réduire le bord bleu de la barre d'adresse
 * et de la barre de recherche */
#urlbar-background, #searchbar {
    box-shadow: none !important;
    border-width: 1px !important;
}

/* Uniformiser le bord bleu de la barre d'adresse, de la barre de
 * recherche et de la findbar lors du focus ET de la frappe */
#urlbar:not(.hidden-focus)[focused="true"] > #urlbar-background, #urlbar[breakout][breakout-extend] > #urlbar-background, #searchbar:focus-within { border-color: Highlight !important; }
.findbar-textbox:focus { outline: 1px solid Highlight !important; }
.findbar-textbox[status="notfound"] { outline: 2px solid var(--input-error-border-color, #E22850) !important; }

/* Rendre scrollable la liste de la barre d'adresse
 * Cf. https://www.reddit.com/r/FirefoxCSS/comments/fwugp4/megabar_userchrome_snippets/
 * Dépend de la valeur de browser.urlbar.maxRichResults (10 par
 * défaut, ou définie dans /usr/lib/firefox/mozilla.cfg) */
#urlbar-results {
    height: unset !important;
    max-height: calc(30.5px * 7.5) !important; /* Nombre de lignes à afficher */
    overflow-y: auto !important;
    padding-right: 4px !important;
}
.urlbarView-body-outer {
    padding-bottom: 1px !important;
}
.urlbarView .urlbarView-type-icon {
    position: relative !important;
    left: -24px;
    margin-right: -20px;
}

/* Afficher la liste des adresses sur deux lignes
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/urlbar_results_in_two_rows.css */
.urlbarView-row-inner{ flex-wrap: wrap !important; }
.urlbarView-no-wrap {
  max-width: 100% !important;
  flex-basis: 100%;
}
.urlbarView-row[has-url]:not([type="switchtab"]) .urlbarView-title-separator{ display: none }
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(ltr) { padding-left: calc(var(--urlbarView-item-inline-padding) + var(--identity-box-margin-inline) + 16px); }
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(rtl) { padding-right: calc(var(--urlbarView-item-inline-padding) + var(--identity-box-margin-inline) + 16px); }

/* Montrer le bouton pour fermer l'onglet lors du survol
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/tab_close_button_always_on_hover.css */
.tabbrowser-tab .tab-close-button { display: none; }
.tabbrowser-tab:not([pinned]):hover .tab-close-button { display:-moz-box !important; }

/* Masquer la favicon pour les nouveaux onglets */
.tabbrowser-tab[label="New Tab"]:not([pinned]) .tab-icon-image { display: none !important; }

/* Éclaircir le texte par défaut de la barre d'adresse, de la barre de
 * recherche et de la findbar */
#urlbar-input::placeholder, .searchbar-textbox::placeholder, .findbar-textbox::placeholder { color: #555 !important; }
