/* Cf. https://wiki.archlinux.org/index.php/Firefox/Tweaks#General_user_interface_CSS_settings
 *
 * Ex. de règle pour toutes les pages :
 * body { margin: 10px; border: 1px solid red !important; }
 *
 * Ex. de règle pour certains domaines seulement :
 * @-moz-document domain(google.com) {
 *     body { margin: 10px; border: 1px solid red !important; }
 * }
 *
 * Indiquer un nom de domaine (ex. : domaine.com) vaut aussi pour les
 * sous-domaines (ex. : www.domaine.com, sous.domaine.com, etc.)
 *
 * Un redémarrage de Firefox est nécessaire après chaque modification ! */

@-moz-document url-prefix("about:") {
    menupopup, panel { --panel-shadow: none !important; }
    panel-list, menu-button { --shadow-30: none !important; } /* pour les pages about:addons et about:logins */
}

@-moz-document domain(superuser.com), domain(stackexchange.com), domain(stackoverflow.com), domain(askubuntu.com), domain(serverfault.com) {
    .js-consent-banner, .js-dismissable-hero, .site-header, #noscript-warning { display: none !important; }
    body, .top-bar { margin-top: 0 !important; }
}

@-moz-document domain(movieparadise.org) {
    .textwidget, .module_home_ads, .module_single_ads { display: none !important; }
    body, quote, .texto, .date { color: rgba(255, 255, 255, 0.8) !important;}
    .date { font-weight: bold !important; }
}

@-moz-document domain(programme-tv.net) {
    .containerAds, .grid-sidebar-wrapper, .bouquet-sidebar { display: none !important; }
}

@-moz-document regexp("https?://.*yggtorrent.*") {
    .ad-alert-wrapper { display: none !important; }
}

@-moz-document domain(allocine.fr) {
    .main-banner, .sticky-ad-holder { display: none !important; }
}

@-moz-document domain(ghacks.net) {
    .wide-ad, .ghacks_ad_code, [id*="-gpt-ad-"] { display: none !important; }

}

@-moz-document domain(tripadvisor.fr) {
    .ad { display: none !important; }
}

@-moz-document domain(secouchermoinsbete.fr) {
    .premium-needed { display: none !important; }
}

@-moz-document domain(amazon.fr) {
    #sp-cc { display: none !important; }
}

@-moz-document domain(old.reddit.com) {
    #eu-cookie-policy { display: none !important; }
}

@-moz-document domain(hyipstats.net) {
    .header, .header-menu, .mb-xl-8, .alert-notice  { display: none !important; }
}

@-moz-document regexp("https?://libreddit.*") {
    * { font-family: "IBM Plex Sans Regular" !important; }
}

@-moz-document domain(wikipedia.org) {
    #bodyContent { font-size: .875em !important; }
    .vector-column-end { display: none !important; }
}

@-moz-document url-prefix("about:reader") {
    .content { text-align: justify; }
}

/* Modifications et ajouts pour un thème sombre imitant le thème Fantome
 * de GTK3 */
@media (prefers-color-scheme: dark) {
    @-moz-document url-prefix("about:") {
        body { background-color: #23222B !important; }
        :root {
            --in-content-page-background: #23222B !important;
            --fxview-background-color: #23222B !important;
        }
        .addon { background-color: #35353D !important; }
        .addon[aria-labelledby="ublock0_raymondhill_net-heading"] .addon-icon { content: url("./icons/uBO_big.png") !important; }
        .addon[aria-labelledby="ublock0_raymondhill_net-heading"] .addon-badge { display: none !important; }
        .addon[aria-labelledby="redirector_einaregilsson_com-heading"] .addon-icon { filter: invert(1) brightness(6) !important; }
        .addon[aria-labelledby="skipredirect_sblask-heading"] .addon-icon { filter: grayscale(100%) brightness(1.5) !important; }
    }
}
