/* Cf. https://wiki.archlinux.org/title/Firefox/Tweaks#General_user_interface_CSS_settings
 * Un redémarrage de Firefox est nécessaire après chaque modification !
 * Les couleurs sont définies dans le fichier https://searchfox.org/mozilla-release/source/browser/themes/linux/browser.css */

/* Masquer l'icône des marque-pages, la flèche "Go to the address" et la
 * loupe dans la barre d'adresse */
#star-button-box, .urlbar-go-button { display: none; }
#identity-box[pageproxystate="invalid"] {
    margin: 0 !important;
    width: 8px;
    overflow: hidden;
    opacity: 0;
}
#urlbar-search-mode-indicator { margin-left: -8px; }
.urlbar-input-box { margin-right: 8px; }

/* Supprimer les animations ou réduire leur durée */
#stop-reload-button .toolbarbutton-animatable-image { animation-duration: 0s !important; } /* Bouton Stop/Reload */
#urlbar-zoom-button { animation-name: none !important; } /* Indicateur de zoom dans la barre d'adresse */
.animatable-menupopup, panel[type="arrow"] { transition-duration: 0s !important; } /* Menus des boutons de la barre d'adresse */
.tab-loading-burst { visibility: hidden !important; } /* Fin de chargement d'onglet */
.tabbrowser-tab { transition-duration: 1ms, 50ms !important; } /* Ouverture/fermeture d'un onglet */
findbar { /* Ouverture/fermeture de la findbar */
    transition-duration: 0s !important;
    transition-delay: 0s !important;
}
#navigator-toolbox[fullscreenShouldAnimate] { transition: none !important; } /* Entrée/sortie du mode Plein écran (F11) */
toolbar .toolbarbutton-1.animate-out { animation-duration: 0s !important; } /* Suppression d'un bouton dans la toolbar */

/* Masquer l'avertissement indiquant le mode plein écran */
.pointerlockfswarning { display: none !important; }

/* Réduire l'espace à gauche de la barre d'onglets, et l'afficher même
 * quand la fenêtre n'est pas maximisée */
#TabsToolbar .titlebar-spacer[type="pre-tabs"] {
    width: 10px !important;
    display: block !important;
}

/* Uniformiser les arrondis sur tous les éléments */
:root {
    --arrowpanel-border-radius: 4px !important;
    --arrowpanel-menuitem-border-radius: 4px !important;
    --tab-border-radius: 4px !important;
    --toolbarbutton-border-radius: 4px !important;
}
menupopup, .menupopup-arrowscrollbox {
    border-radius: 4px !important;
    overflow: hidden; /* Arrondir aussi la couleur en cas de :hover */
}

/* Connecter les onglets à la fenêtre
 * Cf. https://github.com/black7375/Firefox-UI-Fix/blob/master/css/leptonChrome.css
 * Rechercher "Connect to window" dans la page */
#tabbrowser-tabs[orient="horizontal"] { min-height: unset !important; }
#tabbrowser-tabs[orient="vertical"] { --uc-tab-border-bottom-radius: var(--tab-border-radius); }
.tab-background { margin-bottom: 0 !important; }
#tabbrowser-tabs[orient="horizontal"] .tab-background:is([selected], [multiselected]) { --tab-selected-bgcolor: var(--toolbar-bgcolor) !important; }
.tab-stack {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
#TabsToolbar:not([multibar]) { overflow: clip; }
#tabbrowser-tabs[positionpinnedtabs] .tabbrowser-tab[pinned] .tab-stack { overflow-y: clip; }
/* Adapter la hauteur à la densité voulue */
:root {
    --tab-min-height: 38px !important;
    --tab-block-margin: 2px !important;
}
:root[uidensity="compact"] { --tab-min-height: 32px !important; }
:root[uidensity="touch"] { --tab-min-height: 44px !important; }
:root .tab-content {
    height: calc(var(--tab-min-height) + 2px) !important;
    margin-top: var(--tab-block-margin) !important;
}
/* Réduire la taille du bouton "Open a new tab" en conséquence */
#TabsToolbar { --toolbarbutton-inner-padding: calc((var(--tab-min-height) - 22px) / 2) !important; }

/* Supprimer la marge entre les onglets épinglés et non-épinglés */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])[orient="horizontal"] .tabbrowser-tab:nth-child(1 of :not([pinned], [hidden])) { margin-inline-start: 0 !important; }
/* Réduire l'espace entre les onglets */
:root { --tab-overflow-clip-margin: 1px !important; }

/* Remplacer l'ombre des onglets (actifs ou sélectionnés) par un bord
 * Cf. https://searchfox.org/mozilla-release/source/browser/themes/shared/tabbrowser/tabs.css */
.tab-background:is([selected], [multiselected]) {
    box-shadow: none !important;
    border: 1px solid var(--lwt-tabs-border-color);
}
#tabbrowser-tabs[orient="horizontal"] .tab-background[selected] { border-bottom: 0 !important; }
.tab-background[selected]:not([multiselected]) { outline: 0 !important; } /* Par ex. avec le thème Alpenglow */
#tabbrowser-tabs[orient="horizontal"] .tab-background { border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important; }
#tabbrowser-tabs[orient="vertical"] .tab-background { border-radius: var(--tab-border-radius) !important; }
.tabbrowser-tab:is([selected], [multiselected]) { z-index: 1 !important; } /* Contour des onglets sélectionnés toujours visible */
/* Définir un bord supérieur pour la nav-bar */
:root:has(#tabbrowser-tabs[orient="horizontal"]) #nav-bar { box-shadow: 0 -1px 0 0 var(--lwt-tabs-border-color) !important; }
/* Masquer le bord supérieur de la nav-bar pour l'onglet actif
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/non_floating_sharp_tabs.css */
:root[lwtheme] #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab > .tab-stack > .tab-background:is([selected], [multiselected]) {
    background-attachment: scroll, fixed, fixed !important;
    background-color: transparent !important;
    background-image: linear-gradient(var(--tab-selected-bgcolor, transparent), var(--tab-selected-bgcolor, transparent)), var(--lwt-additional-images, none), var(--lwt-header-image, none) !important;
    background-position: 0 0, var(--lwt-background-alignment), right top !important;
    background-repeat: repeat-x, var(--lwt-background-tiling), no-repeat !important;
    background-size: auto 100%, var(--lwt-background-size, auto auto), auto auto !important;
}
:root { --tabs-navbar-separator-color: transparent !important; } /* Indispensable avec un thème sombre */
:where(#navigator-toolbox) > #TabsToolbar { will-change: unset !important; }
/* Couleur à l'arrière-plan de la barre de menu et de la barre d'onglets
 * qui reste identique avec ou sans le focus */
:root:is([tabsintitlebar],[customtitlebar]) .browser-titlebar:-moz-window-inactive { opacity: 1 !important; } /* [tabsintitlebar] déprécié Firefox 135+ */
#navigator-toolbox { background-color: ActiveCaption !important; }

/* Rétablir au premier plan la ligne indiquant les groupes d'onglets */
tab-group:not([collapsed]) {
    > .tab-group-label-container::after, > .tabbrowser-tab { z-index: 1; }
    .tabbrowser-tab > .tab-stack > .tab-background[multiselected], #tabbrowser-tabs[orient="vertical"] & > .tabbrowser-tab > .tab-stack > .tab-background[selected] {
        position: relative;
        border-bottom: 0 !important;
        &::after {
            content: "";
            position: absolute;
            inset-inline: calc(-1 * (var(--tab-overflow-clip-margin) + 1px));
            inset-block-end: 0;
            height: 2px;
            background-color: light-dark(var(--tab-group-color), var(--tab-group-color-invert));
        }
    }
    #tabbrowser-tabs[orient="horizontal"] & > .tabbrowser-tab:last-of-type > .tab-stack > .tab-background[multiselected]::after { inset-inline-end: var(--tab-outline-offset); }
}
.tab-group-line {
    margin-bottom: 0 !important;
    #tabbrowser-tabs[orient="horizontal"] & { margin-inline: calc(-1 * (var(--tab-overflow-clip-margin) + 1px)) !important; }
    .tabbrowser-tab:last-of-type > .tab-stack > .tab-background > & { margin-inline-end: 0 !important; }
}

/* Rétablir la ligne de séparation entre les onglets
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/tab_separator_lines.css */
.tabbrowser-tab {
    background-image: linear-gradient(transparent 20%, color-mix(in srgb, currentColor 20%, transparent) 20%, color-mix(in srgb, currentColor 20%, transparent) 80%, transparent 80%);
    background-size: 1px 100%;
    background-repeat: no-repeat;
}
.tab-group-label-container { padding-inline-start: 2px; }
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:hover + .tabbrowser-tab:not([first-visible-unpinned-tab]), .tabbrowser-tab:is(:hover,:first-child,[selected],[multiselected]), .tabbrowser-tab:is([selected],[multiselected]) + .tabbrowser-tab[hidden] + .tabbrowser-tab, #tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:is([multiselected],[selected]) + .tabbrowser-tab, tab-group[collapsed] + .tabbrowser-tab, tab-group > .tabbrowser-tab:first-of-type, tab-group:has(> .tabbrowser-tab:last-child:is(:hover,[selected],[multiselected])) + .tabbrowser-tab, #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab { background-image: none; }

/* Désactiver l'expansion de la taille de la barre d'adresse
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/compact_urlbar_megabar.css */
#urlbar[breakout][breakout-extend] {
    margin-left: 0 !important;
    width: var(--urlbar-width) !important;
    margin-top: calc((var(--urlbar-container-height) - var(--urlbar-height)) / 2) !important;
}
.urlbarView-row { padding: 2px 1px !important; }
#urlbar-background { animation: none !important; }
.urlbar-input-container {
    padding: 1px !important;
    height: var(--urlbar-height) !important;
}
#identity-icon { margin-block: var(--urlbar-icon-padding); }
.urlbarView > .search-one-offs:not([hidden]) { padding-block: 0 !important; }

/* Supprimer les ombres et uniformiser la couleur des bords pour la barre
 * d'adresse, la barre de recherche, la findbar et les menus + fond
 * unique (identique avec ou sans le focus) sur toutes les barres */
#urlbar-background, #searchbar, .findbar-textbox { box-shadow: none !important; }
menupopup, panel {
    --panel-shadow: none !important;
    --panel-border-color: var(--lwt-tabs-border-color) !important; /* Couleur du bord des menus */
}
:root {
    --chrome-content-separator-color: var(--lwt-tabs-border-color) !important; /* Bord de la barre d'adresse, bord inférieur de la zone de navigation... */
    --in-content-box-border-color: var(--lwt-tabs-border-color) !important;
    --panel-separator-color: var(--lwt-tabs-border-color) !important; /* Séparateurs dans les menus */
    --toolbar-field-border-color: var(--chrome-content-separator-color) !important;
    --toolbar-field-background-color: var(--toolbar-field-focus-background-color) !important;
    --toolbar-field-color: var(--toolbar-field-focus-color) !important;
    --urlbar-box-bgcolor: var(--urlbar-box-focus-bgcolor) !important; /* Couleur de l'indicateur de zoom */
}
/* Éclaircir le texte par défaut de la barre d'adresse, de la barre de
 * recherche et de la findbar, et les onglets non-sélectionnés */
.urlbar-input::placeholder, .searchbar-textbox::placeholder, .findbar-textbox::placeholder { color: color-mix(in srgb, currentColor 70%, transparent) !important; }
.tabbrowser-tab:not([selected], [multiselected]) .tab-icon-image, .tabbrowser-tab:not([selected], [multiselected]) .tab-label-container { opacity: 0.7 !important; }

/* Uniformiser la largeur et la couleur du bord des champs de texte lors
 * du focus (barre d'adresse, barre de recherche, findbar, etc.) */
:root {
    --focus-outline-width: 1px !important;
    --player-controls-button-outline-width: 1px !important;
    --focus-outline-color: Highlight !important;
    --theme-focus-outline-color: Highlight !important;
    --toolbar-field-focus-border-color: Highlight !important;
}
#urlbar[open] > #urlbar-background { border-color: Highlight !important; }

/* Rendre scrollable la liste de la barre d'adresse
 * Cf. https://www.reddit.com/r/FirefoxCSS/comments/fwugp4/megabar_userchrome_snippets/
 * et https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/scrollable_urlbar_popup.css
 * Dépend de la valeur de browser.urlbar.maxRichResults (10 par
 * défaut, ou définie dans /usr/lib/firefox/mozilla.cfg) */
#urlbar-results {
    max-height: 239px;
    overflow-y: auto;
    scrollbar-color: color-mix(in srgb, currentColor 26%, transparent) transparent;
    scrollbar-width: thin;
    padding: 0 !important;
    margin: 4px 0 5px 0;
}
.urlbarView-row-inner { padding-block: 1px !important; }
.urlbarView-no-wrap { position: relative; }

/* Masquer la liste de la barre d'adresse en mode recherche (Ctrl-j ou
 * Ctrl-k) puisqu'elle ne contient qu'une seule adresse */
#urlbar[searchmode] > .urlbarView { display: none !important; }

/* Afficher la liste des adresses sur deux lignes
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/urlbar_results_in_two_rows.css */
.urlbarView-row-inner { flex-wrap: wrap !important; }
.urlbarView-no-wrap {
    max-width: 100% !important;
    flex-basis: 100%;
}
.urlbarView-row[has-url]:not([type="switchtab"]) .urlbarView-title-separator { display: none; }
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(ltr) { margin-left: var(--urlbarView-second-line-indent); }
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(rtl) { margin-right: var(--urlbarView-second-line-indent); }

/* Montrer le bouton pour fermer l'onglet lors du survol
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/tab_close_button_always_on_hover.css */
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab .tab-close-button { display: none; }
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab:not([pinned]):hover .tab-close-button {
    display: flex !important;
    align-items: center;
}

/* Masquer la favicon pour les nouveaux onglets, et utiliser la favicon
 * par défaut si un nouvel onglet est épinglé, ou si un onglet sans
 * favicon est muet */
#tabbrowser-tabs[orient="horizontal"] .tabbrowser-tab[label="New Tab"]:not([pinned], [muted]) .tab-icon-image { display: none; }
.tabbrowser-tab[label="New Tab"] .tab-icon-image[src] {
    width: 0 !important;
    padding-left: 16px;
    background-image: url("chrome://global/skin/icons/defaultFavicon.svg") !important;
}
/* Supprimer aussi l'icône de Firefox affichée dans la barre d'adresse
 * sur les pages "about:..." */
#identity-box[pageproxystate="valid"].chromeUI #identity-icon { display: none !important; }
#identity-box[pageproxystate="valid"].chromeUI #identity-icon-label { padding-inline-start: 0 !important; }

/* Modifications avec beaucoup d'onglets (tabs overflow) */
/* Supprimer les flèches de scrolling à droite et à gauche
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/hide_tabs_scrollbuttons.css
 * Les parties (à part margin-inline-*) concernant l'apparence des boutons
 * #scrollbutton-up et #scrollbutton-down (censés apparaître quand on
 * déplace un onglet en cas d'overflow) ont été supprimées */
#tabbrowser-tabs { --uc-scroll-opacity: 0; }
#tabbrowser-tabs[overflow] {
    --uc-scrollbox-base-margin: -27px;
    --uc-scrollbox-margin: calc(var(--uc-scrollbox-base-margin) + var(--tab-shadow-max-size));
}
:root[uidensity="compact"] #tabbrowser-tabs[overflow] { --uc-scrollbox-base-margin: -23px; }
:root[uidensity="touch"] #tabbrowser-tabs[overflow] { --uc-scrollbox-base-margin: -33px; }
#tabbrowser-arrowscrollbox:not([scrolledtostart]) { --uc-scrollbox-overflow-start-margin: -1px; }
#scrollbutton-up ~ spacer { visibility: visible !important; } /* Entraîne un décalage lors du déplacement d'un onglet MAIS si absent, décalage lors d'un overflow avec des onglets épinglés */
spacer[part="overflow-start-indicator"] {
    order: -1;
    margin-inline-start: var(--uc-scrollbox-overflow-start-margin, -0.5px) !important;
}
spacer[part="overflow-end-indicator"] { order: 2; }
#scrollbutton-up, #scrollbutton-down { opacity: var(--uc-scroll-opacity, 1) !important; /* Conserver les flèches - mais les rendre invisibles - pour pouvoir déplacer un onglet en les survolant */ }
#scrollbutton-up { margin-inline-start: calc(0px - var(--tab-shadow-max-size, 0px)) !important; }
#scrollbutton-down { margin-inline-end: calc(0px - var(--tab-shadow-max-size, 0px)) !important; }
scrollbox[orient="horizontal"], .scrollbox-clip { margin-inline: var(--uc-scrollbox-margin,0px); }
.scrollbox-clip > scrollbox[orient="horizontal"] { margin-inline: initial; }
.menupopup-arrowscrollbox { --tab-shadow-max-size: 0; }
/* Modifier l'apparence de l'indicateur d'overflow */
spacer[part="overflow-start-indicator"], spacer[part="overflow-end-indicator"] {
    z-index: 1;
    background: linear-gradient(color-mix(in srgb, currentColor 20%, transparent), color-mix(in srgb, currentColor 20%, transparent)) !important;
    background-size: 1px 100% !important;
    background-position-x: 0% !important;
    background-repeat: no-repeat !important;
    border-color: transparent !important;
}

/* Masquer le bouton du menu ("Open application menu") */
#PanelUI-menu-button { display: none; }
/* Rétablir une marge à droite de la nav-bar */
:root:has(#tabbrowser-tabs[orient="horizontal"]) #nav-bar { padding-right: 3px !important; }
/* Masquer le bouton "Open a new tab" en mode vertical des onglets */
:root:has(#tabbrowser-tabs[orient="vertical"]) #new-tab-button { display: none; }

/* Masquer le bouton "Extensions" à droite de la nav-bar sans empêcher
 * l'affichage d'informations par les extensions */
#unified-extensions-button {
    width: 2px;
    padding-inline: 0 !important;
    order: 1 !important; /* Bouton toujours à droite */
}
#unified-extensions-button > .toolbarbutton-icon { width: 0 !important; }

/* Diminuer les marges pour les menus */
:root {
    --arrowpanel-menuitem-margin-inline: 3px !important;
    --arrowpanel-menuitem-padding: 6px !important;
    --panel-separator-margin: 3px !important;
    --panel-subview-body-padding-block: 3px !important;
    &[uidensity=compact] { --arrowpanel-menuitem-padding: 4px !important; }
    &[uidensity=touch] { --arrowpanel-menuitem-padding: 9px !important; }
}
#downloadsPanel-blockedSubview, #downloadsPanel-mainView { padding: 3px !important; }

/* Déplacer la ligne de couleur des containers sous le titre (ou sous la
 * favicon des onglets épinglés) */
.tab-context-line { display: none; }
.tab-text, .tab-label {
    text-decoration: 2px solid underline var(--identity-icon-color);
    text-underline-offset: 2px;
}
/* Bord sur un pseudo-élément pour éviter le déplacement de l'icône */
.tabbrowser-tab[pinned] .tab-icon-stack::after, #tabbrowser-tabs[orient="vertical"]:not([expanded]) .tabbrowser-tab .tab-icon-stack::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: -4px;
    border-bottom: 2px solid var(--identity-icon-color);
}

/* Uniformiser la couleur du bord de la barre d'adresse avec celle du
 * container
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/urlbar_container_color_border.css
 * à modifier = pas de padding sur #urlbar[open] > .urlbar-input-container
 * sinon cela décale le texte lorsqu'on tape dans la barre d'adresse */
.urlbar-input-container {
    border-width: 0 !important;
    padding: 2px !important;
}
#userContext-icons::before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--identity-icon-color);
    border-radius: 4px !important; /* var(--toolbarbutton-border-radius) ne fonctionne pas */
    outline-offset: -1px;
    pointer-events: none;
}
#urlbar:not([focused]) #userContext-icons::before { outline-color: var(--toolbar-field-border-color); }
#urlbar[open] > .urlbar-input-container { position: static !important; }
#urlbar[open] > #urlbar-background { z-index: -1 !important; }

/* Transformer les items de la barre de menu en boutons
 * Des modifications peuvent être nécessaires en raison de styles
 * particuliers appliqués aux thèmes Gtk.
 * Cf. https://searchfox.org/mozilla-release/source/toolkit/themes/linux/global/menu.css */
:root { --context-menu-background-padding-default: 10px; }
menubar {
    flex-grow: 1 !important;
    margin-left: var(--context-menu-background-padding-default);
    padding: 6px 0 2px 0;
}
menubar > menu {
    border-radius: var(--toolbarbutton-border-radius) !important;
    -moz-appearance: none !important;
    background-position: left var(--context-menu-background-padding-default) center !important;
    padding-inline-start: var(--context-menu-background-padding-default) !important;
    padding-inline-end: var(--context-menu-background-padding-default) !important;
}
menubar > menu[_moz-menuactive="true"]:not([open="true"]) { background-color: color-mix(in srgb, currentColor 17%, transparent) !important; }
menubar > menu[open="true"] {
    color: inherit !important;
    background-color: color-mix(in srgb, currentColor 27%, transparent) !important;
    border-bottom-color: transparent !important;
}

/* Uniformiser les marges des onglets avec celles des onglets épinglés
 * (éviter le déplacement de l'icône lorsqu'un onglet est épinglé) */
#tabbrowser-tabs[orient="horizontal"] .tab-content {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* Ajouter une marge sous la barre des marque-pages */
#PersonalToolbar { padding-bottom: 1px !important; }

/* Indicateur audio toujours visible si audio actif */
.tabbrowser-tab[pinned][muted]:hover .tab-icon-image, .tabbrowser-tab:is([soundplaying]) .tab-icon-image, .tabbrowser-tab[muted]:not([pinned]):hover .tab-icon-image { display: none !important; }
.tab-icon-overlay {
    top: 0 !important;
    inset-inline-end: 0 !important;
    border: none !important;
    background-size: 14px !important;
}
.tabbrowser-tab[pinned][muted]:not(:hover) .tab-icon-overlay, #tabbrowser-tabs[orient="vertical"] .tabbrowser-tab[muted]:not(:hover) .tab-icon-overlay { display: none !important; }
.tabbrowser-tab:hover .tab-icon-overlay, .tabbrowser-tab:is([soundplaying]) .tab-icon-overlay { opacity: 0.85 !important; }
.tabbrowser-tab .tab-icon-overlay:hover {
    opacity: 1 !important;
    background-color: var(--tab-icon-overlay-stroke, black) !important;
}
:root[uidensity="compact"] .tabbrowser-tab[muted]:not(:hover) .tab-icon-overlay { display: none !important; }
:root[uidensity="compact"] .tabbrowser-tab[muted]:not(:hover) .tab-icon-image { opacity: 1 !important; }

/* Sidebar */
.textbox-search-sign { display: none; }
@media (-moz-bool-pref: "sidebar.revamp") {
    .sidebar-splitter { /* Survol du bord de redimensionnement de la sidebar */
        transition: none !important;
        background-color: transparent !important;
    }
    :root { --content-area-shadow: none !important; }
    :root:has(#tabbrowser-tabs[orient="vertical"]) .browser-toolbar, #sidebar-main, #sidebar-box { background-color: var(--toolbar-bgcolor) !important; } /* Couleur unique, identique à --toolbar-bgcolor, pour les toolbars et la sidebar, avec ou sans vertical tabs */
    .search-icon { display: none !important; }
}

@media (prefers-color-scheme: light) {
    :root {
        --toolbar-bgcolor: light-dark(#F8F8F8, rgb(43, 42, 51)) !important; /* Arrière-plan pour la zone de navigation (onglet actif, toolbar, barre des marque-pages) */
        --lwt-tabs-border-color: rgba(0, 0, 0, .3) !important; /* Bords (zone de navigation, onglet actif, menus...) */
        #TabsToolbar, #toolbar-menubar { background-color: color-mix(in srgb, currentColor 7%, transparent) !important; } /* Arrière-plan plus foncé pour la barre d'onglets et la barre de menu */
    }
}

/* Thème sombre imitant le thème Fantome de GTK3 */
@media (prefers-color-scheme: dark) {
    body, html, .browserContainer, #mainPopupSet, #main-window, #tabbrowser-tabbox, #tabbrowser-tabpanels { background-color: #23222B !important; } /* Couleur de la fenêtre principale (évite le flash d'un nouvel onglet) */
    :root {
        --toolbar-bgcolor: #3B4252 !important; /* Arrière-plan pour la zone de navigation (onglet actif, toolbar, barre des marque-pages) */
        --lwt-tabs-border-color: #606777 !important; /* Bords (zone de navigation, onglet actif, menus...) */
    }
    #TabsToolbar, #toolbar-menubar { background-color: #2E3440 !important; } /* Arrière-plan pour la barre d'onglets et la barre de menu */
    :root #tabbrowser-tabs[orient="horizontal"] { --tab-hover-background-color: #414653 !important; } /* Onglets en arrière-plan lors du survol (onglets horizontaux) */
    :root #tabbrowser-tabs[orient="vertical"] { --tab-hover-background-color: #4D5363 !important; } /* Onglets en arrière-plan lors du survol (onglets verticaux) */
    .tabbrowser-tab { background-image: linear-gradient(transparent 20%, color-mix(in srgb, currentColor 40%, transparent) 20%, color-mix(in srgb, currentColor 40%, transparent) 80%, transparent 80%); } /* Ligne de séparation entre onglets */
    tab-group[collapsed] > .tab-group-label-container > .tab-group-label { border: 1px solid #88C0D0 !important; } /* Bord de l'indicateur d'onglets groupés */
    /* Bord et couleur intérieure des champs de recherche (barre d'adresse...) */
    :root {
        --toolbar-field-border-color: #606777 !important;
        --toolbar-field-focus-border-color: #88C0D0 !important;
        --toolbar-field-background-color: #2E3440 !important;
        --toolbar-field-focus-background-color: #434C5E !important;
        --focus-outline-color: #88C0D0 !important;
        --theme-focus-outline-color: #88C0D0 !important;
        --urlbarView-hover-background: #5F6777 !important;
        --urlbarView-highlight-background: #88C0D0 !important;
        --urlbarView-highlight-color: #23222B !important;
        --urlbarView-separator-color: #606777 !important;
    }
    #urlbar:is([focused], [open]) > #urlbar-background, #searchbar:focus-within { border-color: #88C0D0 !important; }
    .urlbar-input::selection, .searchbar-textbox::selection { background-color: #5F6777 !important; }
    /* Rétablir la couleur par défaut du texte dans les champs de recherche */
    .urlbar-input::placeholder, .searchbar-textbox::placeholder, .findbar-textbox::placeholder { opacity: 0.53 !important; }
    /* Couleurs des boutons à l'intérieur de la barre d'adresse */
    .identity-box-button, #tracking-protection-icon-container, #page-action-buttons {
        --urlbar-box-hover-bgcolor: #555C6B !important;
        --urlbar-box-active-bgcolor: #5F6777 !important;
    }
    /* Couleurs des boutons "Toggle reader view", "Translate this page"  et de
    * l'icône des marque-pages ("Bookmark this page" / "Edit this bookmark") */
    #reader-mode-button[readeractive] > .urlbar-icon, #translations-button[translationsactive] > #translations-button-icon, #translations-button-circle-arrows, #star-button[starred] { fill: #88C0D0 !important; }
    #translations-button-locale {
        background-color: #88C0D0 !important;
        color: #23222B !important;
    }
    /* Bouton "Firefox View" */
    #TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
        background-color: #5F6777 !important;
        box-shadow: none !important;
        outline: 0 !important;
    }
    /* Couleurs des autres boutons */
    :root {
        --button-background-color-hover: #555C6B !important;
        --button-background-color-active: #5F6777 !important;
        --toolbarbutton-hover-background: #555C6B !important;
        --toolbarbutton-active-background: #5F6777 !important;
    }
    /* Couleur des items à l'intérieur des menus */
    :root {
        --panel-item-hover-bgcolor: #5F6777 !important;
        --panel-item-active-bgcolor: #5F6777 !important;
    }
    /* Couleurs pour la barre de menu */
    menubar > menu[_moz-menuactive="true"]:not([open="true"]), menubar > menu[open="true"] { background-color: #555C6B !important; }
    menubar > menu[open="true"] { background-color: #5F6777 !important; }
    /* Supprimer l'arrondi des boutons et menus */
    :root {
        --arrowpanel-border-radius: 0 !important;
        --arrowpanel-menuitem-border-radius: 0 !important;
        --toolbarbutton-border-radius: 0 !important;
        --button-border-radius: 0 !important;
    }
    #downloadsListBox > richlistitem, .downloadMainArea, .downloadButton { border-radius: 0 !important; }
    menupopup, .menupopup-arrowscrollbox {
        border-radius: 0 !important;
        --panel-border-radius: 0 !important;
    }
    /* Rétablir l'arrondi de la barre d'adresse et des boutons qu'elle contient */
    #urlbar-background, #urlbar { border-radius: 4px !important; }
    :root { --urlbar-icon-border-radius: 2px !important; }
    /* Couleurs des marque-pages (Bookmarks Toolbar) et des téléchargements */
    #downloadsListBox > richlistitem.openWhenFinished:hover > .downloadButton {
        --button-background-color-hover: #787E8C !important;
        --button-background-color-active: #8A909D !important;
    }
    #downloads-indicator-icon, #downloads-indicator-start-image { fill: var(--toolbarbutton-icon-fill) !important; }
    #downloads-indicator-finish-image, #downloads-button[attention="success"] #downloads-indicator-icon { fill: #88C0D0 !important; }
    #downloads-indicator-progress-inner { --toolbarbutton-icon-fill-attention: #88C0D0; }
    .downloadProgress::-moz-progress-bar { --download-progress-fill-color: #88C0D0; }
    /* Forcer tous les items de menus aux mêmes dimensions, y compris la menubar */
    menupopup :is(menu, menuitem), .subview-subheader, panelview .toolbarbutton-1, .subviewbutton, .widget-overflow-list .toolbarbutton-1 {
        padding-block: var(--arrowpanel-menuitem-padding) !important;
        padding-inline: var(--arrowpanel-menuitem-padding) !important;
    }
    /* Positionner les sous-menus à 2px du menu parent */
    menupopup > menu > menupopup { margin-inline-start: 2px !important; }
    /* Boutons min/max/close identiques à ceux du thème d'Openbox */
    .titlebar-button > .toolbarbutton-icon {
        width: 14px !important;
        height: 14px !important;
        margin-right: 3px !important;
        -moz-default-appearance: none !important;
        background: none !important;
        border-radius: 0 !important;
    }
    .titlebar-button:hover > .toolbarbutton-icon { background-color: #555C6B !important; }
    .titlebar-button:active > .toolbarbutton-icon { background-color: #5F6777 !important; }
    /* Pour changer aussi les icônes quand la fenêtre est inactive :
    * :root:-moz-window-inactive .titlebar-min:not(:hover) > .toolbarbutton-icon { list-style-image: url(./icons/window-minimize-inactive.png); } */
    .titlebar-min > .toolbarbutton-icon { list-style-image: url(./icons/window-minimize.png); }
    .titlebar-max > .toolbarbutton-icon { list-style-image: url(./icons/window-maximize.png); }
    .titlebar-restore > .toolbarbutton-icon { list-style-image: url(./icons/window-restore.png); }
    .titlebar-close > .toolbarbutton-icon {
        list-style-image: url(./icons/window-close.png);
        margin-right: 6px !important;
    }
    /* Icônes de navigation */
    #back-button, #context-back, .unified-nav-back[_moz-menuactive]:-moz-locale-dir(ltr), .unified-nav-forward[_moz-menuactive]:-moz-locale-dir(rtl) { list-style-image: url("chrome://global/skin/icons/arrow-left.svg") !important; }
    #forward-button, #context-forward, .unified-nav-forward[_moz-menuactive]:-moz-locale-dir(ltr), .unified-nav-back[_moz-menuactive]:-moz-locale-dir(rtl) { list-style-image: url("chrome://global/skin/icons/arrow-right.svg") !important; }
    #back-button > .toolbarbutton-icon, #forward-button > .toolbarbutton-icon { padding: calc(var(--toolbarbutton-inner-padding) - 1px) calc(var(--toolbarbutton-inner-padding) - 1px) !important; }
    #context-back > .menu-iconic-left > .menu-iconic-icon, #context-forward > .menu-iconic-left > .menu-iconic-icon {
        width: 18px !important;
        height: 18px !important;
        padding: 0 !important;
    }
    /* Couleurs de la Library (History, Downloads, Tags, Bookmarks) */
    treechildren::-moz-tree-row(hover) { background-color: #555C6B !important; }
    treechildren::-moz-tree-row(selected) { background-color: #5F6777 !important; }
    treechildren::-moz-tree-row(selected, focus) { background-color: #5F6777 !important; }
    #searchFilter {
        -moz-appearance: none !important;
        border: 1px solid #606777 !important;
        border-radius: 2px !important;
    }
    #searchFilter[focused] {
        box-shadow: none !important;
        background-color: #434C5E !important;
        border: 1px solid #88C0D0 !important;
    }
    /* Couleurs de l'édition de marque-pages */
    .dialogBox:not(.spotlightBox) {
        box-shadow: 0 0 0 1px #606777 !important;
        border-radius: 0 !important;
    }
    #bookmarkpropertiesdialog, #bookmarkpropertiesdialog #editBookmarkPanelContent > input, #bookmarkpropertiesdialog #editBookmarkPanelContent > hbox > input, #bookmarkpropertiesdialog #editBMPanel_folderMenuList, #bookmarkpropertiesdialog richlistbox, #downloadsListBox.allDownloadsListBox > richlistitem { background-color: #2E3440 !important; }
    #bookmarkpropertiesdialog #editBookmarkPanelContent > input:focus, #bookmarkpropertiesdialog #editBookmarkPanelContent > hbox > input:focus, #bookmarkpropertiesdialog #editBMPanel_folderMenuList:focus, #bookmarkpropertiesdialog richlistbox:focus, #downloadsListBox.allDownloadsListBox > richlistitem[selected] { background-color: #434C5E !important; }
    #editBMPanel_tagsSelector:not(:focus) > richlistitem[selected] { background-color: #5F6777 !important; }
    /* Sidebar */
    #viewButton { border-radius: 0 !important; }
    .close-icon:hover, #viewButton:hover { background-color: #555C6B !important; }
    .close-icon:hover:active, #viewButton[open] { background-color: #5F6777 !important; }
    #search-box {
        -moz-appearance: none !important;
        border: 1px solid #606777 !important;
        border-radius: 4px !important;
        padding-inline-start: 0 !important;
        padding: 3px 10px !important;
    }
    #search-box:focus-within {
        box-shadow: none !important;
        background-color: #434C5E !important;
        border: 1px solid #88C0D0 !important;
    }
    /* Sidebar revamped */
    @media (-moz-bool-pref: "sidebar.revamp") {
        :root { --border-radius-medium: 0 !important; }
        .search-container > input {
            -moz-appearance: none !important;
            outline: 0 !important;
            border: 1px solid #606777 !important;
            border-radius: 4px !important;
            padding-inline-start: 0 !important;
            padding: 3px 10px !important;
        }
        .search-container > input:focus-within {
            box-shadow: none !important;
            background-color: #434C5E !important;
            border: 1px solid #88C0D0 !important;
        }
    }
    /* Extensions dans la toolbar */
    #ublock0_raymondhill_net-BAP.toolbarbutton-1 { list-style-image: url("./icons/uBO.png") !important; }
    #redirector_einaregilsson_com-BAP[badge="on"] .toolbarbutton-icon { filter: invert(1) brightness(6); }
    #redirector_einaregilsson_com-BAP[badge="off"].toolbarbutton-1 .toolbarbutton-icon { filter: invert(1) brightness(2.5); }
    #skipredirect_sblask-BAP .toolbarbutton-icon { filter: grayscale(100%) brightness(2.5) !important; }
    /* Extensions dans le menu du bouton "Extensions" (#unified-extensions-button) */
    #ublock0_raymondhill_net-BAP.subviewbutton { list-style-image: url("./icons/uBO_big.png") !important; } /* Anciennement resource://devtools-shared-images/command-pick.svg ou chrome://browser/skin/tracking-protection.svg) */
    #ublock0_raymondhill_net-BAP[style*="-loading.png"], #ublock0_raymondhill_net-BAP[style*="-off.png"] { opacity: 0.7; } /* ou #ublock0_raymondhill_net-BAP[label="uBlock Origin (off)"] */
    #redirector_einaregilsson_com-BAP[badge="off"].subviewbutton .toolbarbutton-icon { filter: invert(1) brightness(0.75); }
    /* Extensions dans le menu clic-droit */
    #skipredirect_sblask-menuitem-_copy-target-url > .menu-iconic-left > .menu-iconic-icon { display: none !important; }
    #skipredirect_sblask-menuitem-_copy-target-url > label { display: none; }
    #skipredirect_sblask-menuitem-_copy-target-url::before {
        content: "Copy target URL (Skip Redirect)";
        margin-inline-start: 21px;
    }
    /* Tooltips (par ex. "Close Duplicate Tabs") */
    #confirmation-hint {
        --arrowpanel-background: #2E3440 !important;
        --arrowpanel-color: #D5D5D5 !important;
        --arrowpanel-padding: 10px 20px !important;
        font-size: 1rem !important;
        opacity: 0.9 !important;
    }
    /* Indicateur de position lors du déplacement d'un marque-page */
    #PlacesToolbarDropIndicator, .tab-drop-indicator {
        list-style-image: none !important;
        height: var(--tab-min-height) !important;
        width: 2px !important;
        background: #88C0D0 !important;
    }
    .tab-drop-indicator {
        margin-inline-start: -2px !important;
        margin-top: 4px !important;
    }
    image[part="drop-indicator"] { background-color: #88C0D0 !important; }
}
