/* Cf. https://wiki.archlinux.org/index.php/Firefox/Tweaks#General_user_interface_CSS_settings
 *
 * Ex. de règle pour toutes les pages :
 * body { margin: 10px; border: 1px solid red !important; }
 *
 * Ex. de règle pour certains domaines seulement :
 * @-moz-document domain(google.com) {
 *     body { margin: 10px; border: 1px solid red !important; }
 * }
 *
 * Indiquer un nom de domaine (ex. : domaine.com) vaut aussi pour les
 * sous-domaines (ex. : www.domaine.com, sous.domaine.com, etc.)
 *
 * Un redémarrage de Firefox est nécessaire après chaque modification ! */

@-moz-document domain(superuser.com), domain(stackexchange.com), domain(stackoverflow.com), domain(askubuntu.com), domain(serverfault.com) {
    .js-consent-banner, .js-dismissable-hero, .site-header { display: none !important; }
}

@-moz-document domain(amazon.fr) {
    #sp-cc { display: none !important; }
    #nav-search * { font-size: 9pt !important; }
    .nav-search-dropdown { width: 150px !important; }
}

@-moz-document domain(movieparadise.org) {
    .textwidget, .module_home_ads { display: none !important; }
    body, quote, .texto { color: rgba(255, 255, 255, 0.8) !important;}
}

@-moz-document domain(programme-tv.net) {
    .containerAds, .grid-sidebar-wrapper, .bouquet-sidebar { display: none !important; }
}

@-moz-document domain(yggtorrent.li) {
    .ad-alert-wrapper { display: none !important; }
}

@-moz-document domain(allocine.fr) {
    .main-banner, .sticky-ad-holder { display: none !important; }
}

@-moz-document domain(ghacks.net) {
    .ghacks_ad_code, .post-list-sponsored, .category-sponsored { display: none !important; }
}

@-moz-document domain(tripadvisor.fr) {
    .ad { display: none !important; }
}

@-moz-document domain(secouchermoinsbete.fr) {
    .premium-needed { display: none !important; }
}
