/* Cf. https://wiki.archlinux.org/index.php/Firefox/Tweaks#General_user_interface_CSS_settings
 *
 * Un redémarrage de Firefox est nécessaire après chaque modification ! */

/* Masquer l'icône des marques-pages à droite de la barre d'adresse */
#star-button-box { display: none !important; }

/* Supprimer l'espace à gauche de la barre d'onglets quand la fenêtre
 * n'est pas maximisée */
.titlebar-spacer[type="pre-tabs"] { width: 0 !important; }

/* Décaler la barre d'onglets vers la droite */
#tabbrowser-tabs { margin-left: 10px; }

/* Rétablir la forme des onglets et la ligne de séparation entre onglets
 * Cf. https://github.com/black7375/Firefox-UI-Fix */
/* Tab Bar - Connect to window */
.tab-background {
    border-radius: var(--tab-border-radius) var(--tab-border-radius) 0px 0px !important;
    margin-bottom: 0px !important;
}
.tab-content { margin-top: var(--proton-tab-block-margin); }
.tab-stack {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
/* Unselected Tab - Divide line */
#tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before, .tabbrowser-tab:not([visuallyselected], [multiselected], :hover, :first-child) .tab-background::before, #tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab:not([visuallyselected], [multiselected], :hover)[last-visible-tab] .tab-background::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 1px;
    height: 20px;
    overflow: hidden;
    opacity: var(--tab-separator-opacity);
    transition: opacity .2s var(--ease-basic) !important;
    background-color: color-mix(in srgb, currentColor 20%, transparent) !important;
}
.tab-background::before { transform: translateX(-2.5px) translateY(calc(-50% + 1px)) !important; }
.tabbrowser-tab[last-visible-tab] .tab-background::after {
    right: 0;
    transform: translateX(.5px) translateY(calc(-50% + 1px)) !important;
}
.tabbrowser-tab:is([visuallyselected], [multiselected], :hover) + .tabbrowser-tab:not([visuallyselected]) .tab-background::before, .tabbrowser-tab[first-visible-unpinned-tab]:is([visuallyselected], [multiselected], :hover) .tab-background::before, #tabbrowser-arrowscrollbox[overflowing] tab.tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before { opacity: 0 !important; }

/* Désactiver l'expansion de la taille de la barre d'adresse
 * Cf. https://www.userchrome.org/megabar-styling-firefox-address-bar.html */
#urlbar[breakout][breakout-extend] {
    top: 4px !important;
    left: 1px !important;
    width: calc(100% - 2px) !important;
    padding: 0 !important;
}
[uidensity="compact"] #urlbar[breakout][breakout-extend] { top: 4px !important; }
[uidensity="touch"] #urlbar[breakout][breakout-extend] { top: 5px !important; }
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding: 1px 0 !important;
}

/* Rendre scrollable la liste de la barre d'adresse
 * Cf. https://www.userchrome.org/megabar-styling-firefox-address-bar.html
 * Dépend de la valeur de browser.urlbar.maxRichResults (10 par
 * défaut, ou définie dans /usr/lib/firefox/mozilla.cfg) */
#PopupAutoCompleteRichResult .autocomplete-richlistbox, #urlbarView-results, #urlbar-results {
    height: unset !important;
    max-height: calc(30.5px * 7.5) !important; /* Nombre de lignes à afficher */
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox > scrollbox, #urlbarView-results, #urlbar-results {
    overflow-y: auto !important;
    padding-right: 3px !important;
}
#PopupAutoCompleteRichResult .autocomplete-richlistbox { padding-right: 0 !important; }
.urlbarView-no-wrap {
    max-width: 100% !important;
    flex-basis: 100% !important;
    position: relative;
}

/* Afficher la liste des adresses sur deux lignes
 * Cf. https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/urlbar_results_in_two_rows.css */
.urlbarView-row-inner{ flex-wrap: wrap !important; }
.urlbarView-no-wrap {
  max-width: 100% !important;
  flex-basis: 100%;
}
.urlbarView-row[has-url]:not([type="switchtab"]) .urlbarView-title-separator{ display: none }
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(ltr) { padding-left: calc(var(--urlbarView-item-inline-padding) + var(--identity-box-margin-inline) + 16px); }
.urlbarView-row[has-url] > .urlbarView-row-inner > .urlbarView-url:-moz-locale-dir(rtl) { padding-right: calc(var(--urlbarView-item-inline-padding) + var(--identity-box-margin-inline) + 16px); }
